name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node: [16.x, 18.x, 20.x]
        prettier: ["3.6"]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install yarn
        run: npm i -g yarn
      - name: Install project dependencies
        run: yarn install
      - name: Install specific prettier version
        run: yarn add prettier@${{ matrix.prettier }} && yarn list --depth=0 --pattern "prettier"
      - name: Run tests
        run: yarn test
